:root .appBar {
  background: var(--light);
  box-shadow: none;
  border-bottom: 1px var(--grey) solid;
  h1 {
    margin: 0;
    font-size: x-large;
    font-style: italic;
    color: var(--dark);
  }
  .logo {
    height: 44px;
  }
  .switch {
    color: var(--dark);
  }
}

@media only screen and (max-width: 700px) {
  :root .appBar {
    h1 {
      font-size: large;
      padding: 0 5px;
    }
    .logo {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 500px) {
  :root .appBar {
    h1 {
      font-size: medium;
    }
    .logo {
      height: 30px;
    }
  }
}
