:root .appBar {
  background: var(--light);
  box-shadow: none;
  border-bottom: 1px var(--grey) solid;
  h1 {
    margin: 0;
    font-size: x-large;
    font-style: italic;
    color: var(--dark);
  }
  .toolBar {
    justify-content: space-between;
  }
  .logo {
    height: 44px;
  }
  .switch {
    color: var(--dark);
  }
}
