.fastLinks {
  a {
    padding: 0 20px;
    font-size: larger;
    svg {
      vertical-align: text-bottom;
      padding-right: 5px;
    }
  }
  a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}
