:root {
  .card {
    margin: auto;
    margin-top: 30px;
    color: var(--dark);
  }

  .cardHeader {
    color: var(--text-action-high-blue-france);
    background: var(--background-action-low-blue-france);

    a {
      background: none;

      &[target="_blank"]::after {
        mask-size: cover;
        width: 30px;
        height: 30px;
      }
    }

    span {
      font-size: large;
    }
  }
}

.field {
  margin-bottom: 10px;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 6px;
  }

  li {
    display: inline-block;
    list-style: none;
    margin-bottom: 2px;
    margin-right: 12px;
    padding-right: 12px;
    border-right: dotted 2px #aaaaaa;
  }

  li:last-of-type {
    border: 0;
  }

  a {
    color: var(--blue-france-main-525);
    font-style: italic;
  }

  .notInAli {
    margin-left: 6px;
  }
}