:root .footer {
  top: auto;
  bottom: 0;
  background: var(--dark);
  box-shadow: none;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
  font-style: normal;
  font-size: 19px;
  position: relative;
  top: 1px;
  left: 2px;
}

.emoji {
  font-size: 20px;
  vertical-align: top;
}
