:root {
  .title {
    color: var(--yellow);
    font-size: x-large;
  }

  .result {
    // width: auto;
    // height: 40px;
    // border-color: var(--yellow);
    // border-radius: 20px;
    // font-size: 14px;
    // color: var(--yellow);
    margin: 10px 5px 0 5px;

    &.on {
      background-color: var(--hover-tint);
      // background: var(--yellow);
      // border-color: var(--yellow);
      // color: var(--dark);
    }
  }
}

.pagination {
  margin: 10px 5px 0 5px;
}

.pagination svg {
  // color: var(--yellow);
  // width: 2em;
  // height: 2em;
  // padding: 10px;
  width: 12px;
  height: 12px;
}

.disabled svg {
  opacity: 0.3;
}