:root {
  .title {
    color: var(--yellow);
    font-size: x-large;
  }

  .result {
    width: auto;
    height: 40px;
    border-color: var(--yellow);
    border-radius: 20px;
    font-size: small;
    color: var(--yellow);
    margin: 10px 5px 0 5px;
    &.on,
    &:hover {
      background: var(--yellow);
      border-color: var(--yellow);
      color: var(--dark);
    }
  }
}
