:root {
  --light: #ffffff;
  --dark: #021a3a;
  --blue: #2b80f7;
  --yellow: #ffe900;
  --grey: #edeff2;
}

body {
  background: var(--dark);
  color: var(--light);
  margin: 0;
}
a,
a:focus,
a:visited {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.gutter {
  margin-top: 20px;
}

:root .flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}
