:root {
  --light: #ffffff;
  --dark: #021a3a;
  --blue: #2b80f7;
  --yellow: #ffe900;
  --grey: #edeff2;
}

body {
  background: var(--dark);
  color: var(--light);
  margin: 0;
}

/* Works on Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--yellow) var(--grey);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 7px;
  background-color: var(--grey);
}

::-webkit-scrollbar-track {
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}

a,
a:focus,
a:visited {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  padding-bottom: 64px;
}

.center {
  text-align: center;
}

.gutter {
  margin-top: 20px;
}

:root .flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}
